<ion-view view-title="Sign-In" name="login-view" hide-back-button="true">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username" autocapitalize="none">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
       <!--   <label class="item item-input">
              <input type="text" placeholder="Card Number" ng-model="data.cardnumber" id="cardNumber">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Card Name" ng-model="data.cardname" id="cc-name" autocomplete="cc-name" x-autocompletetype="cc-full-name">
          </label>  -->
      </div>
      <button class="button button-block button-positive" ng-click="login(data)">Login</button>
  </ion-content>
</ion-view>